@font-face {
    font-family: 'NostalgicLetter';
    src: url('Nostalgic Letter.otf') format('opentype');
}


/* Navbar */
.navbar {
    background-color: #FBEAD6;
    color: #C87D87;
    font-family: garamond, serif;
}

.navbar .navbar-brand {
    color: #C87D87;
    font-size:x-large;
    font-weight: bold;
}

.navbar-nav {
    gap: 25px;
    font-size: larger ;
    font-weight: bold;
}

/* home */
.about img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  transform: rotate(-3deg);
  border: 12px solid white;
  border-bottom: 60px solid white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about img:hover {
  transform: rotate(0deg) scale(1.03);
}

.about {
    padding: 50px;
    background-color: #FBEAD6;
    padding-bottom: 170px;
}

.about h1 {
    font-family: 'NostalgicLetter', serif;
    color: #C87D87;
    margin-top: 30px;
    margin-bottom: 50px;
}

.about p {
    background-color: #6B7556;
    color: white;
    border-radius: 50px;
    padding: 30px;
    margin-bottom: 50px;
}


.best {
    padding: 50px;
}

.best h1 {
    font-family: 'NostalgicLetter', serif;
    color: #C87D87;
    margin-bottom: 30px;
}

.best .card {
    height: 100%;
    transition: transform 0.3s ease;
}

.best .card:hover {
  transform: scale(1.05);
}

.best .card img {
    height: 200px;
    object-fit: cover;
}

.button-menu {
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
}

.btn.btn-custom {
    background-color: #C87D87;
    border-color: #C87D87;
    color: white;
    transition: 0.3s;
}

.btn.btn-custom:hover {
    background-color: #6e4349;
    border-color: #6e4349;
    transform: scale(1.05);
}