/* Navbar */
.navbar {
    background-color: #FBEAD6;
    color: #C87D87;
    font-family: garamond, serif;
}

.navbar .navbar-brand {
    color: #C87D87;
    font-size:x-large;
    font-weight: bold;
}

.navbar-nav {
    gap: 25px;
    font-size: larger;
    font-weight: bold;
}

/* home */
.about img {
  width: 350px;
  height: 300px;
  object-fit: cover;
  transform: rotate(-3deg);
  border: 12px solid white;
  border-bottom: 60px solid white;
  transition: transform 0.3s;
}

.about img:hover {
  transform: rotate(0deg) scale(1.03);
}

.about {
    padding: 50px;
    background-color: #FBEAD6;
    padding-bottom: 170px;
}

.about h1 {
    font-family: 'NostalgicLetter', serif;
    color: #C87D87;
    margin-top: 30px;
    margin-bottom: 50px;
}

.about p {
    background-color: #6B7556;
    color: white;
    border-radius: 50px;
    padding: 30px;
    margin-bottom: 50px;
}


.best {
    padding: 50px;
}

.best h1 {
    font-family: 'NostalgicLetter', serif;
    color: #C87D87;
    margin-bottom: 30px;
}

.best .card {
    height: 100%;
    transition: transform 0.3s;
}

.best .card:hover {
  transform: scale(1.05);
}

.best .card img {
    height: 200px;
    object-fit: cover;
}

.button-menu {
    padding-top: 30px;
    padding-bottom: 70px;
    text-align: center;
}

.btn.btn-custom {
    background-color: #C87D87;
    border-color: #C87D87;
    color: white;
    transition: 0.3s;
}

.btn.btn-custom:hover {
    background-color: #6e4349;
    border-color: #6e4349;
    transform: scale(1.05);
}

/* menu */
.card-title{
    font-weight: bold;
    color: #8b6f47;
}

.judul-kategori {
    font-family: 'NostalgicLetter', serif;
    color: #C87D87;
}

.menu-btn{
    background-color: #6b7556;
    border-radius: 25px;
    width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
    display: block;
    border: none;
    margin-top: auto;
    text-decoration: none;
}

.container .card {
    transition: 0.3s;
}

.container .card:hover {
    transform: scale(1.02);
}


/* login & register */
.welcome {
    font-family: 'NostalgicLetter', serif;
    color: white;
    text-align: center;
   
}

.deskripsi {
    margin-top: 15px;
    color: white;
    text-align: center;
}

.akun {
    padding-top: 20px;
}

.daftar {
    background-image: url('bg3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    padding: 60px 0;
}

.daftar {
    padding: 50px;
}

.daftar .card {
    width: 450px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    background-color: #FBEAD6;
    transition: 0.3s; 
}

.daftar .card:hover {
    transform: scale(1.02); 
}

.daftar .btn-masuk {
    background-color: #C87D87;
    border-color: #C87D87;
    display: block;
    margin-left: auto;
    transition: 0.3s;
}

.daftar .btn-masuk:hover {
    background-color: #986168;
    border-color: #986168;
    transform: scale(1.05);
}


/* order */
.gambar-card {
    border-radius: 8px;
    object-fit: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 12px;
}


/* about */
.gambar-order {
    border-radius: 16px;
    max-height: 360px;
    object-fit: cover;
    width: 100%;
}

.gambar-about {
    border-radius: 12px;
    object-fit: cover;
    max-height: 500px;
    width: 100%;
}


/* informasi akun */
.info-akun {
    background-color: #F0C4CB;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: small;
}

.informasi {
    margin-top: 30px;
}

.card-info-akun {
    background-color: white;
    border: 0.5px solid #e8c9a0;
    border-radius: 16px;
    padding: 20px 25px;
}
 
.nama-info {
    color: #8b6f47;
    font-size: 14px;
}
 
.value-akun {
    color: #8c3f5a;
    font-size: 14px;
    font-weight: bold;
}

.pilihan {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pilihan .btn-lihatmenu {
    background-color: #6B7556;
    border-color: #6B7556;
    color: white;
    margin: 5px;
    transition: 0.3s;
}

.pilihan .btn-lihatmenu:hover {
    background-color: #6B7556;
    border-color: #6B7556;
    transform: scale(1.05);
}

.pilihan .btn-logout {
    background-color: #C87D87;
    border-color: #C87D87;
    color: white;
    margin: 5px;
    transition: 0.3s;
}

.pilihan .btn-logout:hover {
    background-color: #986168;
    border-color: #986168;
    transform: scale(1.05);
}


/* riwayat */
.item-pesanan {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 4px solid #C87D87;
    padding: 10px 12px;
    margin-bottom: 8px;
    border-radius: 6px;
    background-color: #FBEAD6;
}

.item-pesanan:hover {
    background-color: #E5BCA9;
    color: black;
}


/* admin */
.kotak-stat {
    border: none;
    border-radius: 16px;
    background-color: #FBEAD6;
}

.angka-stat {
    color: #C87D87;
    font-family: garamond, serif;
    font-weight: bold;
    font-size: 48px;
}

.tulisan-stat {
    color: #8b6f47;
    font-weight: bold;
    margin: 0;
}

.judul-tabel {
    color: #8b6f47;
    font-family: garamond, serif;
    font-weight: bold;
}

.kepala-tabel {
    background-color: #FBEAD6;
    color: #8b6f47;
}

.isi-halaman {
    min-height: 500px;
}

.isi-halaman h1 {
    padding-top: 40px;
    text-align: center;
}

.btn-edit-pesanan {
    background-color: #6B7556;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
    margin-right: 4px;
}

.btn-hapus-pesanan {
    background-color: #C87D87;
    color: white;
    border: none;
    padding: 4px 10px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
}


/* struk */
.card-struk {
    margin-top: 100px;
}


/* footer */
.footer {
    background-color: #FBEAD6;
    padding: 20px 0px;  
}